@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Courgette&family=Poppins:wght@600&family=Source+Serif+Pro:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@600&display=swap');
@charset ="utf-8";

body {
margin: 0px;
padding: 0px;
box-sizing: border-box;
width: auto;
background: #ffef96;

}
section.city_great {
	width: 100%;
	background: #274546;
}
.city_great {
	display: flex;
	justify-content: space-between;
	
}

p.logo {
	font-size: 1.4rem;
	font-weight: bold;
	color: #efeee5;
	margin-left: 10px;	
}
nav{
	display: flex;	
	margin-right: 10px;
}
.nav-itens {
	display: inline-block;
}
nav ul{
	list-style: none;
	margin-left: px;
    
}
nav ul li{
	display: inline-block;
	padding: 5px;
	background-color: white;
	border: 2px solid black;
	box-shadow: 2px 2px 3px black;
	border-radius: 10px;
	margin-left: 10px;
}
nav ul li a{
	text-decoration: none;
	color: #006a6a;
}
nav ul li:hover{
	background-color: #FFD700;
}
.menu-bar {
	display: none;

	
}
.bar {
	display: block;
	cursor: pointer;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
	background-color: #fff;
	transition: all 0.3s ease-in-out;
	
}
.presentation h1{
	text-align: center;
	font-size: 70px;
	font-family: Courgette;
	color: #FFD700;
	text-shadow: 2px 2px 3px #006a6a;
}
.presentation h2{
	text-align: center;
	font-size: 2.5rem;
	font-family: Courgette;
	color: green;
}
.presentation p{
	text-align: justify;
	padding: 15px;
	font-size: 1.8rem;
	color: green;
}
h1{
	text-align: center;
}
h2{
	text-align: center;
	font-size: 35px;
	color: #0000CD;
	text-shadow: 2px 2px 2px white;
}

.record h2{
	font-family: Courgette;
	font-size: 50px;
	color: green;
}
.one{
	list-style: none;
	display: flex;
	justify-content: space-around;
	cursor: pointer;
	
}
.one img {
	border-radius: 10px;
	border: 2px solid green;
}

.foto1{
	position: relative;
    width: 300px;
	height: 200px;
}

.foto1 img{
	width: 100%;
	height: 100%;
}
 .foto1 figcaption{
	position: absolute;
	top: 0px;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	opacity: 0;
	transition: 1s;
	color: white;
	box-shadow: 2px 2px 3px white;
	border-radius: 10px;
}
.foto1:hover figcaption{
	opacity: 0.5;

}
.foto2 {
	position: relative;
	width: 300px;
	height: 200px;
	
}
.foto2 img{
	width: 100%;
	height: 100%;
}
.foto2 figcaption{
	position: absolute;
	top: 0px;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	opacity: 0;
	color: white;
	transition: 1s;
	box-shadow: 2px 2px 3px white;
	border-radius: 10px;
}
.foto2:hover figcaption{
	opacity: 0.5;
}
.foto3{
	position: relative;
	width: 300px;
	height: 200px;
	
}
.foto3 img{
	width: 100%;
	height: 100%;
}
.foto3 figcaption{
	position: absolute;
	top: 0px;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	opacity: 0;
	color: white;
	transition: 1s;
	box-shadow: 2px 2px 3px white;
	border-radius: 10px;
}
.foto3:hover figcaption{
	opacity: 0.5;
}

.two {
	list-style: none;
	display: flex;
	justify-content: space-around;
	cursor: pointer;
	margin-top: 40px;
}
.two img {
	border-radius: 10px;
	border: 2px solid green;
}
#foto4{
	position: relative;
	
	width: 300px;
	height: 200px;
	
	
}
#foto4 img{
	width: 100%;
	height: 100%;
}
#foto4 figcaption{
	position: absolute;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	opacity: 0;
	color: white;
	transition: 1s;
	box-shadow: 2px 2px 3px white;
}
#foto4:hover figcaption{
	opacity: 0.5;
}
#foto5 {       
	position: relative;
	
	width: 300px;
	height: 200px;
	
}
#foto5 img{
	width: 100%;
	height: 100%;
}
#foto5 figcaption{
	position: absolute;
	top: 0px;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	color: white;
	opacity: 0;
	transition: 1s;
	box-shadow: 2px 2px 3px white;
}
#foto5:hover figcaption{
	opacity: 0.5;
}
#foto6{
	position: relative;
	
	width: 300px;
	height: 200px;
	
}
#foto6 img{
	width: 100%;
	height: 100%;
}
#foto6 figcaption{
	position: absolute;
	top: 0px;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	color: white;
	opacity: 0;
	transition: 1s;
	box-shadow: 2px 2px 3px white;
}
#foto6:hover figcaption{
	opacity: 0.7;
}
.events{
	height: 900px;
	display: block;
	justify-content: center;
	background: #274546;
	border: 2px solid;
}
 .events .title_events h1 {
	text-align: center;
	color: #FFD700;
	font-family: Courgette;
	text-shadow: 2px 2px 2px #020b2e;
	font-size: 2.3rem;
	margin-top: 50px;
}
.events h2.event-1 {
 margin-top: 70px;
 color: #FFD700;
 text-shadow: none;
 font-size: 1.5rem;
 font-weight: bold;
 font-family: Arial;
}
.img_events  {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}
.img_events img {
	margin-top: 70px;
	width: 250px;
	border-radius: 30px;
	cursor: pointer;
	transition: transform 0.2s;
}
.img1:hover img {
	transform: scale(1.3);
}
.img2:hover img {
	transform: scale(1.3);
}
.img3:hover img {
	transform: scale(1.3);
}
h2.event-2 {
	font-size: 1.5rem;
	margin-top: 70px;
	font-weight: bold;
    font-family: Arial;
	text-shadow: none;
	color: #FFD700;
}
.img_events2 {
	display: flex;
	justify-content: space-around;
	
}
.img_events2 img {
	width: 250px;
	border-radius: 30px;
	margin-top: 50px;
	cursor: pointer;
	transition: transform 0.2s;
}
.img4:hover img {
	transform: scale(1.3);
}
.img5:hover img {
	transform: scale(1.3);
}
.img6:hover img {
	transform: scale(1.3);
}

.text_rodape{
  font-family: Courgette;
  font-size: 20px;
  margin-left: 10px;
  color: #0000FF;

}
.rodape {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hurb{
	display: flex;
}
.hurb ul {
	text-decoration: none;
	list-style: none;
}
.hurb ul li a{
	text-decoration: none;
	color: lightgray;
	font-family: Anton;
	font-size: 15px;
	background: blue;
	border: 2px solid black;
	transition: 0.2s;
}
.hurb ul li a:hover {
	background: #191970;
}
.logofim {
	margin-right: 20px;
}

.logofim img{
	width: 1.9rem;
	position: relative;
	padding: 5px;
	border-radius: 10PX;
	transition: transform 0.2s;
}
.logofim img:hover {
	transform: scale(1.2);
}
.titulo1 {
	display: block;
}
.titulo1 h1 {
	font-size: 3rem;
	color:  #006a6a;
	text-shadow: ;
}
.titulo1 p {
	text-align: center;
	color: #405d27;
	font-size: 1.5rem;
	font-weight: bold;
	
}
figure.two {
	display: block;
	position: relative;
	bottom: -40px;
	
}
.conj1 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	
}
.conj1 img {
	box-shadow: 2px 2px 2px black;
	transition: transform 0.2s;
	border-radius: 5px;
	cursor: pointer;
}
.conj1 img:hover {
	transform: scale(1.2);
}
.conj2 {
	display: flex;
	justify-content: space-between;
}

.conj2 img {
	box-shadow: 2px 2px 2px black;
	border-radius: 5px;
	transition: transform 0.2s;
	cursor: pointer;
}
.conj2 img:hover {
	transform: scale(1.2);
}
.anuncios_dia {
	padding: 20px;
}
.anuncio_title {
	display: flex;
	justify-content: center;
}
h2.anuncio_title {
	color: #006a6a;
	font-size: 2.3rem;
	font-family: Arial;
	font-weight: bold;
	font-family: Courgette;
}

p.coment {
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 1.8rem;
	margin-top: 70px;
	color: green;
	
}
p.texto {
	text-align: center;
	font-size: 1.3rem;
	font-family: Arial;
	font-weight: bold;
}
.product1 {
	display: flex;
	justify-content: space-around;
}
.product1 img {
	width: 250px;
	border-radius: 20px;
	
}
.product2 {
	display: flex;
	justify-content: space-around;
}
.product2 img {
	width: 250px;
	border-radius: 20px;
	margin-top: 80px;
}
p.contact_ag {
	text-align: center;
	font-size: 1.4rem;
	font-weight: bold;
}
.logo_ag {
	display: flex;
	justify-content: center;
	
}
.logo_ag img {
	width: 40px;
	border-radius: 30px;
	padding: 5px;
}
.home_anuncio {
	display: flex;
}
.home_anuncio a {
	text-decoration: none;
	margin-left: 10px;
	margin-top: 10px;
}
.ag_import {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.ag_import img {
	width: 100px;
	border: 1px solid black;
	border-radius: 50px;
}
.name_ag {
	font-family: Arial;
	font-weight: bold;
}
.menu {
	display: flex;
	justify-content: right;
	
}
.menu ul {
	list-style: none;
	margin-right: 10px;
}
.menu ul li {
	display: inline-block;
	padding: 10px;
}
.menu ul li a {
	text-decoration: none;
	font-family: Arial;
	font-weight: bold;
	color: green;
}
.menu ul li a:hover {
	color: coral;
}
@media screen and (min-width:890px) and (max-width:1030px){
	header {
		width: 100%;
	}
	main {
		width: 100%;
	}
	.presentation h1 {
		font-size: 60px;
	}
	.presentation h2 {
		font-size: 2.2rem;
	}
	.presentation p {
		font-size: 1.5rem;
	}
	.record h2 {
		font-size: 40px;
	}
	.foto1, .foto2, .foto3 {
		width: 250px;
		height: 150px;
	}
	#foto4, #foto5, #foto6 {
		width: 250px;
		height: 150px;
	}
	.events {
		height: 800px;
	}
	.events .title_events h1 {
		font-size: 2rem;
	}
	.events h2.event-1{
		font-size: 1.2rem;
	}
	.img_events img {
		width: 200px;
	}
	.img_events2 img {
		width: 200px;
	}
}
@media screen and (min-width:710px) and (max-width:889px) {
	p.logo {
		font-size: 1.2rem;
	}
	nav ul li {
		padding: 3px;
	}
	nav ul li a {
		font-size: 0.8rem;
	}
	
	header {
		width: 100%;
	}
	main {
		width: 100%;
	}
	.presentation h1 {
		font-size: 50px;
	}
	.presentation h2 {
		font-size: 2rem;
	}
	.presentation p {
		font-size: 1.3rem;
	}
	.record h2 {
		font-size: 35px;
	}
	.foto1, .foto2, .foto3 {
		width: 200px;
		height: 100px;
	}
	#foto4, #foto5, #foto6 {
		width: 200px;
		height: 100px;
	}
	.events {
		height: 800px;
	}
	.events .title_events h1 {
		font-size: 1.8rem;
	}
	.events h2.event-1{
		font-size: 1rem;
	}
	.img_events img {
		width: 180px;
	}
	.img_events2 img {
		width: 180px;
	}
	.text_rodape {
		font-size: 15px;
	}
	.hurb ul li a {
		font-size: 13px;
	}
	.logofim img {
		width: 1.7rem;
	}
}
@media screen and (min-width:610px) and (max-width:709px) {
	p.logo {
		font-size: 1.2rem;
	}
	nav ul li {
		padding: 3px;
	}
	nav ul li a {
		font-size: 0.8rem;
	}
	
	header {
		width: 100%;
	}
	main {
		width: 100%;
	}
	.presentation h1 {
		font-size: 50px;
	}
	.presentation h2 {
		font-size: 2rem;
	}
	.presentation p {
		font-size: 1.3rem;
	}
	.record h2 {
		font-size: 35px;
	}
	.foto1, .foto2, .foto3 {
		width: 130px;
		height: 80px;
	}
	#foto4, #foto5, #foto6 {
		width: 130px;
		height: 80px;
	}
	.events {
		height: 800px;
	}
	.events .title_events h1 {
		font-size: 1.6rem;
	}
	.events h2.event-1{
		font-size: 1rem;
	}
	h2.event-2 {
		font-size: 1.1rem;
	}
	.img_events img {
		width: 180px;
	}
	.img_events2 img {
		width: 180px;
	}
	.text_rodape {
		font-size: 15px;
	}
	.hurb ul li a {
		font-size: 13px;
	}
	.logofim img {
		width: 1.7rem;
	}
	.img1:hover img, .img2:hover img, .img3:hover img, .img4:hover img, .img5:hover img, .img6:hover img {
		transform: scale(1.1);
	}
	.foto1 figcaption, .foto2 figcaption, .foto3 figcaption {
		font-size: 0.7rem;
	}
	#foto4 figcaption, #foto5 figcaption, #foto6 figcaption {
		font-size: 0.7rem;
	}
}
@media screen and (max-width:610px) {
	.city_great {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	.menu-bar {
		display: block;
		margin-right: 10px;
	}
	.menu-bar.active .bar:nth-child(2) {
        opacity: 0;
    }
    .menu-bar.active .bar:nth-child(1) {
        transform: translatey(8px) rotate(45deg);
    }
    .menu-bar.active .bar:nth-child(3) {
        transform: translatey(-8px)  rotate(-45deg);
    }
	nav {
		display: flex;
		justify-content: center;
		
	}
	
	.nav-link {
		color: black;
	}
	
	.nav-menu {
		position: fixed;
        right: -111%;
        margin-top: 30px;
        border-radius: 0 0 0px 0px;
        background: #274546;
        text-align: center;
        justify-content: center;
		align-items: center;
        flex-direction: column;
        width: 100%;
        height: 40px;
        transition: 0.3s;
		border: 1px solid #fff;
	}
	nav ul li {
		
		margin-top: 5px;
		margin-right: 7px;
		
	}
	nav-link  {
		color: black;
		font-size: 0.2rem;

	}
	.nav-menu.active {
		right: 0;
	}
}
@media screen and (min-width:400px) and (max-width:609px) {
	p.logo {
		font-size: 1.2rem;
	}
	nav ul li {
		padding: 3px;
	}
	nav ul li a {
		font-size: 0.8rem;
	}
	
	header {
		width: 100%;
	}
	main {
		width: 100%;
	}
	.presentation h1 {
		font-size: 50px;
	}
	.presentation h2 {
		font-size: 2rem;
	}
	.presentation p {
		font-size: 1.3rem;
	}
	.record h2 {
		font-size: 35px;
	}
	
	.foto1, .foto2, .foto3 {
		width: 130px;
		height: 80px;
	}
	#foto4, #foto5, #foto6 {
		width: 130px;
		height: 80px;
	}
	.events {
		height: 800px;
	}
	.events .title_events h1 {
		font-size: 1.6rem;
	}
	.events h2.event-1{
		font-size: 1rem;
	}
	h2.event-2 {
		font-size: 0.8rem;
	}
	.img_events img {
		width: 130px;
	}
	.img_events2 img {
		width: 130px;
	}
	.text_rodape {
		font-size: 15px;
	}
	.hurb {
		display: none;
	}
	
	.logofim img {
		width: 1.7rem;
	}
	.img1:hover img, .img2:hover img, .img3:hover img, .img4:hover img, .img5:hover img, .img6:hover img {
		transform: scale(1.1);
	}
	.foto1 figcaption, .foto2 figcaption, .foto3 figcaption {
		font-size: 0.7rem;
	}
	#foto4 figcaption, #foto5 figcaption, #foto6 figcaption {
		font-size: 0.7rem;
	}
	.hurb {
		display: none;
	}
}
@media screen and (min-width:150px) and (max-width:399px) {
	p.logo {
		font-size: 1.1rem;
	}
	nav ul li {
		padding: 3px;
	}
	nav ul li a {
		padding: 0px;
		font-size: 0.7rem;
		font-weight: bold;
	}
	.nav-menu {
		margin-top: 20px;
		border: none;
	}
	.presentation h1 {
		font-size: 50px;
		margin-top: 50px;
	}
	.presentation h2{
		font-size: 2rem;
		
	}
	.presentation p {
		font-size: 1.1rem;
	}
	.record h2 {
		font-size: 28px;
	}
	.one {
		display: block;
		justify-content: center;
		align-items: center;
		
	}
	.foto1, .foto2, .foto3 {
		width: 300px;
		height: 150px;
		margin-top: 20px;
		
	}
	.two {
		display: block;
	}
	#foto4, #foto5, #foto6 {
		width: 300px;
		height: 150px;
		margin-top: 20px;
	}
	.record h2 {
		padding: 10px;
	}
	.events {
		height: 1770px;
		border: none;
	}
	.events .title_events h1 {
		font-size: 1.5rem;
		padding: 10px;
	}
	.events .title_events h1 {
		font-size: 1.5rem;
	}
	.events h2.event-1{
		font-size: 1.1rem;
	}
	h2.event-2 {
		font-size: 1.1rem;
		padding: 10px;
	}
	
	.img_events {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.img1 img, .img2 img, .img3 img {
		width: 270px;
		height: 150px;
	}
	.img_events2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.img4 img, .img5 img, .img6 img {
		width: 270px;
		height: 150px;
	}
	
	.hurb {
		display: none;
	}
	.rodape {
		display: block;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.text_rodape {
		font-size: 1.1rem;
	}
	.logofim {
		display: flex;
		justify-content: center;
		
	}
	.conj1 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
	}
	.conj2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.conj1 img, .conj2 img{
		margin-top: 30px;
	}
	.menu {
		display: flex;
		justify-content: center;
	}
	.product1 {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		
	}
	.product1 img {
		margin-top: 80px;
	}
	.product2 {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	
	
}




