@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Courgette&family=Poppins:wght@600&family=Source+Serif+Pro:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@600&display=swap');
@charset ="utf-8";

body {
margin: 0px;
padding: 0px;
width: auto;

}
section.city_great {
	width: 100%;
	background: #274546;
}
.city_great {
	display: flex;
	justify-content: space-between;
	
}

p.logo {
	font-size: 1.4rem;
	font-weight: bold;
	color: #efeee5;
	margin-left: 10px;	
}
nav{
	
	

}
nav ul{
	list-style: none;
	margin-right: 15px;
    
}
nav ul li{
	
	display: inline-block;
	
	padding: 5px;
	background-color: white;
	border: 2px solid black;
	box-shadow: 2px 2px 3px black;
	
	border-radius: 10px;
}
nav ul li a{
	text-decoration: none;
	color: #006a6a;
	

}
nav ul li:hover{
	background-color: #FFD700;
}
.presentation h1{
	text-align: center;
	font-size: 70px;
	font-family: Courgette;
	color: #FFD700;
	text-shadow: 2px 2px 3px #006a6a;
}
.presentation h2{
	text-align: center;
	font-size: 2.5rem;
	font-family: Courgette;
	color: green;
}
.presentation p{
	text-align: justify;
	padding: 15px;
	font-size: 1.8rem;
	color: green;
}
h1{
	text-align: center;
}
h2{
	text-align: center;
	font-size: 35px;
	color: #0000CD;
	text-shadow: 2px 2px 2px white;
}

.record h2{
	font-family: Courgette;
	font-size: 50px;
	color: green;
}
.one{
	list-style: none;
	display: flex;
	justify-content: space-around;
	cursor: pointer;
	
}
.one img {
	border-radius: 10px;
	border: 2px solid green;
}

.foto1{
	position: relative;
    width: 300px;
	height: 200px;
}

.foto1 img{
	width: 100%;
	height: 100%;
}
 .foto1 figcaption{
	position: absolute;
	top: 0px;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	opacity: 0;
	transition: 1s;
	color: white;
	box-shadow: 2px 2px 3px white;
	border-radius: 10px;
}
.foto1:hover figcaption{
	opacity: 0.5;

}
.foto2 {
	position: relative;
	width: 300px;
	height: 200px;
	
}
.foto2 img{
	width: 100%;
	height: 100%;
}
.foto2 figcaption{
	position: absolute;
	top: 0px;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	opacity: 0;
	color: white;
	transition: 1s;
	box-shadow: 2px 2px 3px white;
	border-radius: 10px;
}
.foto2:hover figcaption{
	opacity: 0.5;
}
.foto3{
	position: relative;
	width: 300px;
	height: 200px;
	
}
.foto3 img{
	width: 100%;
	height: 100%;
}
.foto3 figcaption{
	position: absolute;
	top: 0px;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	opacity: 0;
	color: white;
	transition: 1s;
	box-shadow: 2px 2px 3px white;
	border-radius: 10px;
}
.foto3:hover figcaption{
	opacity: 0.5;
}

.two {
	list-style: none;
	display: flex;
	justify-content: space-around;
	cursor: pointer;
	margin-top: 40px;
}
.two img {
	border-radius: 10px;
	border: 2px solid green;
}
#foto4{
	position: relative;
	
	width: 300px;
	height: 200px;
	
	
}
#foto4 img{
	width: 100%;
	height: 100%;
}
#foto4 figcaption{
	position: absolute;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	opacity: 0;
	color: white;
	transition: 1s;
	box-shadow: 2px 2px 3px white;
}
#foto4:hover figcaption{
	opacity: 0.5;
}
#foto5 {       
	position: relative;
	
	width: 300px;
	height: 200px;
	
}
#foto5 img{
	width: 100%;
	height: 100%;
}
#foto5 figcaption{
	position: absolute;
	top: 0px;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	color: white;
	opacity: 0;
	transition: 1s;
	box-shadow: 2px 2px 3px white;
}
#foto5:hover figcaption{
	opacity: 0.5;
}
#foto6{
	position: relative;
	
	width: 300px;
	height: 200px;
	
}
#foto6 img{
	width: 100%;
	height: 100%;
}
#foto6 figcaption{
	position: absolute;
	top: 0px;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	color: white;
	opacity: 0;
	transition: 1s;
	box-shadow: 2px 2px 3px white;
}
#foto6:hover figcaption{
	opacity: 0.7;
}
#events{
	display: flex;
	justify-content: center;
	height: 500px;
	background: #0000FF;
	margin-top: 50px;
}
#events h1{
	color: #fff;
	font-family: Courgette;
	text-shadow: 2px 2px 2px #020b2e;
}
footer{
	position: relative;
	bottom: -120px;
	width: 100%;
    height: 100px;
   

}
#text_rodape{
font-family: Courgette;
position: relative;
font-size: 20px;
bottom: -85px;
margin-left: 10px;
color: #0000FF;

}
#hurb{
	text-align: right;
	position: relative;
	left: -180px;
	bottom: -45px;
	color: black;
	height: 50px;
	
	}
#hurb ul li a{
	transition: 0.2s;
}
#hurb ul li a:hover {
	background: #191970;
}

#hurb ul li a{
	text-decoration: none;
	color: lightgray;
	font-family: Anton;
	font-size: 15px;
	background: blue;
	border: 2px solid black;
}

#logofim img{
	width: 30px;
	position: relative;
	right: -1200px;
	bottom: 15px;
	padding: 5px;
	border-radius: 10PX;
	transition: transform 0.2s;
}
#logofim img:hover {
	transform: scale(1.2);
}
#titulo1 {
	display: block;
}
#titulo1 h1 {
	font-size: 3rem;
	color: #FFD700;
	text-shadow: 2px 2px 2px #ffffff;
}
#titulo1 p {
	text-align: center;
	color: #ffffff;
	font-size: 1.5rem;
	text-shadow: 2px 2px 2px black;
}
figure.two {
	display: block;
	position: relative;
	bottom: -40px;
	
}
.conj1 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	
}
.conj1 img {
	box-shadow: 2px 2px 2px black;
	transition: transform 0.2s;
	border-radius: 5px;
	cursor: pointer;
}
.conj1 img:hover {
	transform: scale(1.2);
}
.conj2 {
	display: flex;
	justify-content: space-between;
}

.conj2 img {
	box-shadow: 2px 2px 2px black;
	border-radius: 5px;
	transition: transform 0.2s;
	cursor: pointer;
}
.conj2 img:hover {
	transform: scale(1.2);
}